.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/du5e2crvt/image/upload/v1775464365/1_mRDCbpm_NprtGMliAj5Ekw_ligag8.jpg');
    background-size: cover;
    background-position: center;
}

.registerCard {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registerCard h2 {
    margin-bottom: 20px;
    color: #333;
}

.registerCard input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.registerCard button {
    padding: 10px;
    background-color: #0162ca;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}